.timerForm{
    width : 100%;
}
.submitButton{
    text-align: center;
}
.divSpecial {
    border-radius: 20px;
    background-color: #F5F5F5;
    padding-left: 15px;
    margin-top: 10px;
    border-color: #7f7f7f;
    border-style:solid;
    border-width:1px;
}
.divCompteurFIN {
    border-radius: 20px;
    background-color: #f55153;
    padding-left: 15px;
    margin-top: 10px;
    border-color: #7f0003;
    border-style:solid;
    border-width:1px;
}
.nomCompteur {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 12px;
}
#error-message{
    color: red;
}